@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

 &:before{
    content:'';
    content: "";
    width: 100%;
    min-height: 100vh;
    /*background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
    // background: #D3D3D3;
    */
    background-image: url("../public/bg.jpg");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  

body {
  background-image: url('../public/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}